* {
  margin: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ---   This is important thing Not to forget about ----*/
/* body::before{
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
  border-radius: 0px 0px 50% 50%/0px 0px 100% 100%;
  transform: scaleX(1.5);
} */

body {
  background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
  background-repeat: no-repeat;
  background-size: 150rem 50rem;
  opacity: 100%;
}
.content {
  text-align: center;
  justify-content: center;
  /* font-family:serif; */
  font-family: Bradley Hand ITC;
  font-weight: 100;
}
.heart {
  color: red;
  text-shadow: 0px 0px 5px rgba(255, 0, 0, 0.656);
  font-size: 150%;
}
.Hello {
  text-align: center;
  margin-top: 0%;
  font-size: 100px;
  color: white;
  text-shadow: 5px 5px #ff99cc;
  margin-top: 5%;
}
.Name {
  text-align: center;
  position: relative;
  margin-top: 0%;
  font-size: 130px;
  color: white;
  text-shadow: 5px 5px #ff99cc;
}
.about {
  text-align: center;
  font-size: 40px;
  word-spacing: 10px;
  letter-spacing: 5px;
  color: white;
  text-shadow: 5px 5px #ff99cc;
}
#class {
  float: left;
  margin-left: 10%;
  width: 15rem;
  height: 15rem;
  margin-top: 1rem;
  margin-right: 2rem;
  border-radius: 50%;
  display: block;
  padding: 0.1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.379),
    0 6px 20px 0 rgba(0, 0, 0, 0.418);
}
.special {
  color: rgba(0, 0, 0, 0.695);
  text-align: center;
  font-size: 4rem;
  font-family: Bradley Hand ITC;
}
.cleared {
  font-family: Bradley Hand ITC;
  color: rgb(0, 0, 0);
  word-spacing: 5px;
  width: 90%;
  margin-top: 2rem;
  font-size: 25px;
}
.projectwrppr {
  width: calc(100% - 60px);
  margin-left: 2rem;
  margin-right: 2rem;
  background: linear-gradient(to bottom right, #ff99cc 0%, #33ccff 100%);
  border-radius: 15px;
  bottom: 5px;
  position: relative;
  height: calc(150vh - 100px);
  font-family: Bradley Hand ITC;
  color: rgb(255, 255, 255);
  margin-top: 3rem;
  font-size: 25px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.379),
    0 6px 20px 0 rgba(0, 0, 0, 0.418);
}
.headi {
  text-align: center;
}
.HR {
  border: 2px double white;
}
.top {
  margin-top: 45px;
  margin-bottom: 40px;
}
.Newsletter {
  margin-left: 5%;
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: calc(100% - 700px);
  height: calc(100vh);
  color: white;
  background: linear-gradient(to bottom right, #ff99ccc0 0%, #33ccffc7 100%);
  box-shadow: 10px 10px 10px #ff99ccc8;
  border: 1px solid transparent;
  border-radius: 15px;
  text-align: center;
  font-family: Bradley Hand ITC;
}
.letter {
  text-align: center;
  justify-content: center;
  width: 70%;
  height: 10vh;
  border: 1px solid white;
  border-radius: 4px;
  font-family: Poppins;
  margin-bottom: 5%;
}
.lttr {
  height: 30vh;
}

.custom-btn {
  width: 120px;
  height: 40px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  text-align: center;
  padding: 2px 30px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  overflow: hidden;
}

/* 16 */
.btn-16 {
  border: none;
  color: #33ccff;
  text-align: center;
}
.btn-16:hover {
  color: #ffffff;
  background-color: #33ccff;
  transition: all 0.3s ease;
}
footer a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
  display: flex;
  font-family: poppins light;
}
footer {
  background-color: #33ccff;
  display: flex;
}
.Footer {
  margin-left: 5%;
}
.handle {
  margin-left: 70%;
}
.handle a {
  text-decoration: none;
  font-size: 55px;
  margin-left: 5%;
  margin-top: 5%;
}
.handle a i:hover {
  transform: scale(1.2) translateY(-30px);
  transition: all .5s cubic-bezier(0.175, 0.0555, 0.32, 1.09);
  /* color: rgba(255, 182, 182, 0.53); */
  color: #00000020;
  /* text-shadow: 4px 4px 1px  rgba(255, 0, 0, 0.236)  ; */
  text-shadow: 4px 4px 5px rgba(199, 25, 144, 0.748);
}
.twt-handle,
.inst-handle,
.github-profile {
  text-decoration: none;
  display: inline-block;
  margin-left: 5%;
}
.linkedin-handle {
  color: #0077b5;
}
.twt-handle {
  color: #00acee;
}
.inst-handle {
  color: #bc2a8d;
}
.github-profile {
  color: black;
}

.heading {
  animation: fade-in 2s ease-in;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.Html,
.CSS,
.git,
.javascript {
  margin: 10%;
  font-family: Besans;
  font-size: 150%;
}


.carousel{
  background: #EEE;
}

.carousel-cell {
  width: 66%;
  margin-right: 10px;
  background: #8C8;
  opacity: .3;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

#carousel{
  margin-top: 5%;
}
#carousel span,#caras{
  font-weight:900 ;
}
